body {
    background-color: rgba(125, 10, 231, 0.445);
}

#container {
    margin: auto;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    padding: 10px;
    background-color: rgb(44, 44, 44);
}

.grid {
    background-color: lightblue;
    font-size: 6px;
}